body {
    text-align: center;
}

/* h1 {
    text-align: center;
  } */

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 8%;
    left: 42%;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    top: 13%;
    right: 50%;
    position: absolute;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    position: absolute;
    top: 13%;
    left: 50%;
  }

  ul {
    list-style: none;
    top: 50%;
  }

li {
    display: inline-block;
}

#first {
    top: 300px;
}

section {
    height: 100px;
}

