.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    top: 400px;
    left: 300px;
  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }