.frases-memoraveis li:nth-child(2n) {
    color: green;
}

.frases-memoraveis li:nth-child(2n+1) {
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

.negrito {
    font-weight: bold;
}

#linguagem-programacao li:nth-child(-n+3) {
    color: blue;
}

#linguagem-programacao li:nth-child(2) {
    background-color: pink;
}

#linguagem-programacao li:nth-child(3) {
    background-color: pink;
}

#aliados li:nth-child(1) :hover {
    color: orange;
    font-weight: bold;
}

#aliados li:nth-child(2) :hover {
    color: green;
    font-weight: bold;
}

#aliados li:nth-child(3) :hover {
    color: black;
    font-weight: bold;
}

#aliados li:nth-child(4) :hover {
    color: yellow;
    font-weight: bold;
}

#aliados li:nth-child(5) :hover {
    color: green;
    font-weight: bold;
}