div:nth-child(3):hover {
    border-color: blue;
    border-style: solid;
    margin-right: 85%;  
  }
  
  div:nth-child(4):hover {
    border-color: aquamarine;
    border-style: solid;
    margin-right: 85%;
  }
  
  div:nth-child(5):hover {
    border-color: black;
    border-style: solid;
    margin-right: 85%;
  }
  
  div:nth-child(6):hover {
    border-color: green;
    border-style: solid;
    margin-right: 85%;
  }
  
  div:nth-child(7):hover {
    border-color: pink;
    border-style: solid;
    margin-right: 85%;
  }
  
  div:nth-child(3) {
    color: blue; 
  }
  
  div:nth-child(4) {
    color: aquamarine;
  }
  
  div:nth-child(5) {
    color: black;
  }
  
  div:nth-child(6) {
    color: green;
  }
  
  div:nth-child(7) {
    color: pink;
  }
  

div {
    border: 3px;
    width: 50px 30px 50px 30px;
}

h3:nth-child(5) {
    font-style: italic;
}