.super-mario {
    width: 300px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    top: 480px;
    left: 140px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    top: 100px;
    left: 300px;
    position: absolute;
    z-index: 3;
  }
  
  .speech {
    top: 140px;
    left: 320px;
    font-size: 25px;
    position: absolute;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    left: 550px;
    top: 300px;
    position: absolute;
    z-index: 5;
  }